@{
    ViewBag.Title = "resumo pedido";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 resumo-pedido" style="text-align: center">
                <h1>resumo do pedido</h1>
                <hr />
                <h3>pedido</h3>

                @* exibe os detalhes do pedido *@
                @if (Session["Carrinho"] != null)
                {
                    decimal valorTotalPedido = 0;

                    foreach (ClassesMarmitex.ProdutoPedido p in (List<ClassesMarmitex.ProdutoPedido>)Session["Carrinho"])
                    {
                        //se o produto tiver itens adicionais
                        if (p.Produto.DadosAdicionaisProdutos.Sum(adicional => adicional.ItensAdicionais.Sum(item => item.Qtd)) > 0)
                        {
                            <h4>@p.Produto.Nome R$ @p.ValorTotal</h4>
                            foreach (var adicional in p.Produto.DadosAdicionaisProdutos)
                            {
                                <p><strong>@adicional.Nome</strong></p>
                                foreach (var item in adicional.ItensAdicionais)
                                {
                                    if (item.Qtd > 0)
                                    {
                                        <p>@item.Nome @item.Qtd</p>
                                    }
                                }
                            }
                        }
                        else
                        {
                            //exibe os produtos e a quantidade
                            <h4>@p.Quantidade @p.Produto.Nome R$ @p.ValorTotal.ToString("F")</h4>
                        }

                        { valorTotalPedido += p.ValorTotal; }
                    }

                    <h3>horário de entrega</h3>
                    if (Session["HorarioEntrega"] != null)
                    {
                        <p>@Session["HorarioEntrega"] horas</p>
                    }

                    <h3>endereço de entrega</h3>
                    if (Session["EnderecoEntrega"] != null)
                    {
                        <p>@Session["EnderecoEntrega"]</p>
                    }

                    <h3>formas de pagamento</h3>
                    if (Session["FormaPagamento"] != null)
                    {
                        foreach (var formaPagamento in (List<string>)Session["FormaPagamento"])
                        {
                            <p>@formaPagamento</p>
                        }
                    }

                    if (Session["ValorTroco"] != null)
                    {
                        <p>troco para R$ @Session["ValorTroco"]</p>
                    }

                    if (Session["Observacao"] != null)
                    {
                        <h3>observações</h3>
                        <p>@Session["Observacao"]</p>
                    }

                    decimal valorFinalPedido = valorTotalPedido + (decimal)Session["TaxaEntrega"];
                    decimal taxaEntrega = (decimal)Session["TaxaEntrega"];

                    <h3>valor pedido</h3>

                    <p>SubTotal: R$ @valorTotalPedido.ToString("F") </p>
                    <p>Taxa de entrega: R$ @taxaEntrega.ToString("F") </p>
                    <p>Total: R$ @valorFinalPedido.ToString("F") </p>

                    <br />

                    //monta o pedido
                    ClassesMarmitex.Pedido pedidoFinal = new ClassesMarmitex.Pedido();
                    pedidoFinal.Cliente = (ClassesMarmitex.UsuarioParceiro)Session["UsuarioLogado"];
                    pedidoFinal.ListaProdutos = (List<ClassesMarmitex.ProdutoPedido>)Session["Carrinho"];
                    pedidoFinal.HorarioEntrega = (string)Session["HorarioEntrega"];

                    //monta as formas de pagamento
                    List<ClassesMarmitex.FormaDePagamento> pagamentos = new List<ClassesMarmitex.FormaDePagamento>();
                    foreach (var formaPagamento in (List<string>)Session["FormaPagamento"])
                    {
                        pagamentos.Add(new ClassesMarmitex.FormaDePagamento { Nome = formaPagamento });
                    }

                    pedidoFinal.ListaFormaPagamento = pagamentos;

                    pedidoFinal.Troco = Session["ValorTroco"] != null ? (decimal)Session["ValorTroco"] : 0;

                    pedidoFinal.Observacao = @Session["Observacao"] != null ? (string)@Session["Observacao"] : "";

                    pedidoFinal.ValorTotalPedido = valorFinalPedido;

                    //objeto para realizar um post com ajax e atualizar o conteudo de uma determinada div
                    ClassesMarmitex.DadosPostAjax postAjax = new ClassesMarmitex.DadosPostAjax();
                    postAjax.Recurso = "/ResumoPedido/ConfirmarPedido";

                    string ConfirmarPedido = string.Format("ConfirmarPedido('{0}', '{1}', '{2}', '{3}')", @Html.Raw(Json.Encode(@postAjax)), @Html.Raw(Json.Encode(pedidoFinal)), @Session["urlBase"], "/DetalhesPedido/PedidoConcluido");

                    <a href="@Session["urlBase"]/DetalhesPedido" class="btn btn-amarelo-sem-animacao" role="button">editar</a>
                    @*<a href="#" onclick="@ConfirmarPedido" class="btn btn-vermelho-sem-animacao" role="button" OnClientClick="this.disabled = true; this.value = 'robôs trabalhando...'">confirmar</a>*@
                    <button onclick="@ConfirmarPedido" class="btn btn-vermelho-sem-animacao" OnClientClick="this.disabled = true; this.value = 'robôs trabalhando...'">confirmar</button>

                    if (Session["MensagemCadastroPedido"] != null)
                    {
                        <div style="margin-top: 10px">
                            <p class="vermelho-marmitex">@Session["MensagemCadastroPedido"]</p>
                            <a href="@Session["urlBase"]/HistoricoPedidos">ir para histórico de pedidos</a>
                        </div>

                        Session["MensagemCadastroPedido"] = null;
                    }
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
