@{
    ViewBag.Title = "resumo pedido";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 resumo-pedido" style="text-align: center">
                <h1>resumo do pedido</h1>
                <hr />
                <h3>pedido</h3>

                @* exibe os detalhes do pedido *@
                @if (Session["Carrinho"] != null)
                {
                    foreach (ClassesMarmitex.ProdutoPedido p in (List<ClassesMarmitex.ProdutoPedido>)Session["Carrinho"])
                    {
                        //exibe os produtos e a quantidade
                        <p>@p.Quantidade @p.Produto.Nome</p>
                    }

                    <h3>horário de entrega</h3>
                    if (Session["HorarioEntrega"] != null)
                    {
                        <p>as @Session["HorarioEntrega"] horas</p>
                    }

                    <h3>formas de pagamento</h3>
                    if (Session["FormaPagamento"] != null)
                    {
                        foreach (var formaPagamento in (List<string>)Session["FormaPagamento"])
                        {
                            <p>@formaPagamento</p>
                        }
                    }

                    if (Session["ValorTroco"] != null)
                    {
                        <p>R$ @Session["ValorTroco"] de troco</p>
                    }

                    <h3>observações</h3>
                    if (Session["Observacao"] != null)
                    {
                        <p>@Session["Observacao"]</p>
                    }
                    else
                    {
                        <p>nenhuma observação...</p>
                    }

                    <br />

                    //monta o pedido
                    ClassesMarmitex.Pedido pedidoFinal = new ClassesMarmitex.Pedido();
                    pedidoFinal.Cliente = (ClassesMarmitex.UsuarioParceiro)Session["UsuarioLogado"];
                    pedidoFinal.ListaProdutos = (List<ClassesMarmitex.ProdutoPedido>)Session["Carrinho"];
                    pedidoFinal.HorarioEntrega = (string)Session["HorarioEntrega"];

                    //monta as formas de pagamento
                    List<ClassesMarmitex.FormaDePagamento> pagamentos = new List<ClassesMarmitex.FormaDePagamento>();
                    foreach (var formaPagamento in (List<string>)Session["FormaPagamento"])
                    {
                        pagamentos.Add(new ClassesMarmitex.FormaDePagamento { Nome = formaPagamento });
                    }

                    pedidoFinal.ListaFormaPagamento = pagamentos;

                    pedidoFinal.Troco = Session["ValorTroco"] != null ? Session["ValorTroco"].ToString() : "";

                    pedidoFinal.Observacao = @Session["Observacao"] != null ? (string)@Session["Observacao"] : "";


                    //objeto para realizar um post com ajax e atualizar o conteudo de uma determinada div
                    ClassesMarmitex.DadosPostAjax postAjax = new ClassesMarmitex.DadosPostAjax();
                    postAjax.Recurso = "/ResumoPedido/ConfirmarPedido";

                    string ConfirmarPedido = string.Format("ConfirmarPedido('{0}', '{1}')", @Html.Raw(Json.Encode(@postAjax)), @Html.Raw(Json.Encode(pedidoFinal)));

                    <a href="@Session["urlBase"]/DetalhesPedido" class="btn btn-amarelo-sem-animacao" role="button">editar</a>
                    <a href="#" onclick="@ConfirmarPedido" class="btn btn-vermelho-sem-animacao" role="button">confirmar</a>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
