
@{
    ViewBag.Title = "resumo pedido";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 resumo-pedido" style="text-align: center">
                <h1>resumo do pedido</h1>
                <hr />
                <h3>pedido</h3>

                @* exibe os detalhes do pedido *@
                @if (Session["Carrinho"] != null)
                {
                    foreach (ClassesMarmitex.ProdutoPedido p in (List<ClassesMarmitex.ProdutoPedido>)Session["Carrinho"])
                    {
                        //exibe os produtos e a quantidade
                        <p>@p.Quantidade @p.Produto.Nome</p>
                    }


                    <h3>horário de entrega</h3>
                    if (Session["HorarioEntrega"] != null)
                    {
                        <p>as @Session["HorarioEntrega"] horas</p>
                    }

                    <h3>forma de pagamento</h3>
                    if (Session["FormaPagamento"] != null)
                    {
                        <p>@Session["FormaPagamento"]</p>
                    }

                    if (Session["ValorTroco"] != null)
                    {
                        <p>R$ @Session["ValorTroco"] de troco</p>
                    }

                    <h3>observações</h3>
                    if (Session["Observacao"] != null)
                    {
                        <p>@Session["Observacao"]</p>
                    }
                    else
                    {
                        <p>nenhuma observação...</p>
                    }

                    <br />
                }

                <a href="@Session["urlBase"]/DetalhesPedido" class="btn btn-amarelo-sem-animacao" role="button">editar</a>
                <a href="#" onclick="avisoConfirmacao()" class="btn btn-vermelho-sem-animacao" role="button">confirmar</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<script>
    function avisoConfirmacao() {
        alert('Pedido enviado com sucesso');
        window.open("../", "_self");
    }
</script>
