@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model ClassesMarmitex.Usuario

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 mmt-bg-cinza" style="text-align: center">
                <h1 style="margin-top: 2em; margin-bottom: 2em;">entrar</h1>
                <hr />
                <form method="post" action="@Session["urlBase"]/Login/Autenticar">
                    <div class="form-group">
                        <input id="nome" name="Nome" value="NomeParaValidarOsCampos" style="display:none;"/>
                        <label for="email">e-mail</label><br />
                        @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                        @if (Model != null && Model.Email != null)
                        {
                            <input type="email" class="form-control" required title="preencha o e-mail" id="email" name="Email" value="@Model.Email" placeholder="digite o seu e-mail">
                        }
                        else
                        {
                            <input type="email" class="form-control" required title="preencha o e-mail" id="email" name="Email" placeholder="digite o seu e-mail">
                        }

                    </div>
                    <div class="form-group">
                        <label for="pwd">senha</label><br />
                        @Html.ValidationMessage("Senha", "", new { @class = "text-danger" })
                        @if (Model != null && Model.Senha != null)
                        {
                            <input type="password" class="form-control" required title="preencha a senha" id="pwd" name="Senha" value="@Model.Senha" placeholder="digite a sua senha">
                        }
                        else
                        {
                            <input type="password" class="form-control" required title="preencha a senha" id="pwd" name="Senha" placeholder="digite a sua senha">
                        }
                    </div>

                    @if (Session["MensagemCadastroSucesso"] != null)
                    {
                        <br /><label style="color: forestgreen">@Session["MensagemCadastroSucesso"]</label><br />
                    }

                    @if (ViewBag.MensagemAutenticacao != null)
                    {
                        <br /><p style="color: #bc2026">@ViewBag.MensagemAutenticacao</p><br />
                    }

                    <input type="submit" class="btn btn-vermelho-sem-animacao" value="entrar" />
                </form>


                <br />
                <br />
                <p>ainda não tem um usuário?<a href="@Session["urlBase"]/Usuario"> registre-se</a></p>
                <p>esqueceu sua senha?<a href="@Session["urlBase"]/EsqueciASenha"> envie uma nova para o seu e-mail</a></p>

            </div>
        </div>
    </div>
</div>
