@{
    ViewBag.Title = "detalhes pedido";
}

@*Se a sessão tiver alguma mensagem, lança um alert com a mensagem*@
@if (Session["MensagemCamposDetalhesPedido"] != null)
{
    <script>alert(Session["MensagemCamposDetalhesPedido"])</script>
}

<div class="container-fluid">
    <div class="col-md-3">

        <div id="visualizacaoCarrinho" class="col-md-12 detalhes-pedido-carrinho">
            <h3>carrinho</h3>
            @{
                @Html.Partial("_CarrinhoCompra")
            }
        </div>

        @if (Session["Brinde"] != null)
        {
            <div id="visualizacaoBrindes" class="col-md-12">
                <h3>brinde</h3>
                @{
                    @Html.Partial("_Brinde")
                }
            </div>
                    }
    </div>


    <div class="col-md-1"></div>
    <div class="col-md-8 detalhes-pedido">
        <div class="row">
            <div class="col-md-5 detalhes-pedido-horario">
                <h2>horário para entrega</h2>
                <hr />
                <div style="padding-left: 20px;">
                    @if (ViewBag.HorariosEntrega != null)
                    {
                        foreach (ClassesMarmitex.DadosHorarioEntrega p in ViewBag.HorariosEntrega)
                        {
                            foreach (var h in p.HorariosEntrega)
                            {
                                if (h.HorarioDisponivel == false)
                                {
                                    <div class="radio disabled">
                                        <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="@h.Horario" disabled>hoje as @h.Horario horas</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="@h.Horario">hoje as @h.Horario horas</label>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 detalhes-pedido-pagamento">
                <h2>forma de pagamento</h2>
                <hr />
                <div style="padding-left: 20px;">
                    @if (ViewBag.FormaPagamento != null)
                    {
                        foreach (ClassesMarmitex.FormaDePagamento p in ViewBag.FormaPagamento)
                        {
                            if (p.Nome == "dinheiro" || p.Nome == "Dinheiro")
                            {
                                <div class="checkbox">
                                    <label><input type="checkbox" onclick="ExibirCampoTroco()" id="checkDinheiro" value="@p.Nome" class="checkFormaPagamento">@p.Nome</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox">
                                    <label><input type="checkbox" value="@p.Nome" class="checkFormaPagamento">@p.Nome</label>
                                </div>
                            }

                        }
                    }

                    <div id="divTroco" style="display:none">
                        <label for="valorTroco">troco pra quanto?</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            <input type="text" class="form-control" id="valorTroco" onkeyup="formataValor(this, event)" placeholder="troco pra quanto?">
                        </div>
                    </div>

                    <div>
                        <br />
                        <label>observação:</label>
                        <textarea placeholder="alguma observação? escreva aqui..." class="form-control" id="textObservacao" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

        @{ //monta ação do botão avançar
            ClassesMarmitex.DadosPostAjax postDetalhesPedido = new ClassesMarmitex.DadosPostAjax();
            postDetalhesPedido.Recurso = "/DetalhesPedido/AtualizarDetalhesPedido";

            string AvancarParaResumoPedido = string.Format("AvancarParaResumoPedido('{0}', '{1}', '{2}')", @Html.Raw(Json.Encode(postDetalhesPedido)), @Session["urlBase"], "/ResumoPedido/Index");
        }

        <div>
            @if (ViewBag.MensagemDetalhesPedido != null)
            {
                <br /><p style="color: #bc2026">@ViewBag.MensagemDetalhesPedido</p><br />
            }
        </div>

        <div style="text-align: end">
            @{
                List<ClassesMarmitex.DadosHorarioEntrega> listaDadosHorarioEntrega = (List<ClassesMarmitex.DadosHorarioEntrega>)ViewBag.HorariosEntrega;

                int diaAtivo = 0;

                foreach (var dadosHorarioEntrega in listaDadosHorarioEntrega)
                {
                    diaAtivo = dadosHorarioEntrega.DiasDeFuncionamento.FindAll(p => p.DiaDisponivel).Count;
                }
            }

            @if (diaAtivo == 0)
            {
                <button class="btn btn-detalhes-pedido btn-lg" role="button" onclick="@AvancarParaResumoPedido" disabled title="A loja está fechada hoje. Verifique os dias de funcionamento na guia 'Informações'">avançar</button>
            }
            else
            {
                <button class="btn btn-detalhes-pedido btn-lg" role="button" onclick="@AvancarParaResumoPedido">avançar</button>
            }
        </div>
    </div>
</div>
