
@{
    ViewBag.Title = "detalhes pedido";
}

@*Se a sessão tiver alguma mensagem, lança um alert com a mensagem*@
@if (Session["MensagemCamposDetalhesPedido"] != null)
{
    <script>alert(Session["MensagemCamposDetalhesPedido"])</script>
}

<div class="container-fluid">
    <div class="col-md-2 detalhes-pedido-carrinho">
        <h2>pedido</h2>
        <hr />
        <div id="visualizacaoCarrinho">
            @{
                @Html.Partial("_CarrinhoCompra")
            }
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9 detalhes-pedido">
        <div class="row">
            <div class="col-md-5 detalhes-pedido-horario">
                <h2>horário para entrega</h2>
                <hr />
                <div style="padding-left: 20px;">
                    @foreach (ClassesMarmitex.DadosHorarioEntrega p in ViewBag.HorariosEntrega)
                    {
                        foreach (var h in p.HorariosEntrega)
                        {
                            @*if (h.HorarioDisponivel == false)
                                {
                                    <div class="radio disabled">
                                        <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="@h.Horario" disabled>as @h.Horario horas</label>
                                    </div>
                                        }
                                        else
                                        {
                                    < div class="radio">
                                        <label><input type = "radio" name="optradio" class="radioHorarioEntrega" value="@h.Horario">as @h.Horario horas</label>
                                    </div>
                                }*@

                            <div class="radio">
                                <label><input type="radio" name="optradio" class="radioHorarioEntrega" value="@h.Horario">as @h.Horario horas</label>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 detalhes-pedido-pagamento">
                <h2>forma de pagamento</h2>
                <hr />
                <div style="padding-left: 20px;">
                    @foreach (ClassesMarmitex.FormaDePagamento p in ViewBag.FormaPagamento)
                    {
                        if (p.Nome == "dinheiro" || p.Nome == "Dinheiro")
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" onclick="ExibirCampoTroco()" id="checkDinheiro" value="@p.Nome" class="checkFormaPagamento">@p.Nome</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" value="@p.Nome" class="checkFormaPagamento">@p.Nome</label>
                            </div>
                        }

                    }

                    <div id="divTroco" style="display:none">
                        <label for="valorTroco">precisa de troco?</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            <input type="text" class="form-control" id="valorTroco" onkeyup="formataValor(this, event)" placeholder="de quanto precisa?">
                        </div>
                    </div>

                    <div>
                        <br />
                        <label>observação:</label>
                        <input type="text" placeholder="alguma observação? escreva aqui..." class="form-control" id="textObservacao" value="" />
                    </div>
                </div>
            </div>
        </div>

        @{ //monta ação do botão avançar
            ClassesMarmitex.DadosPostAjax postDetalhesPedido = new ClassesMarmitex.DadosPostAjax();
            postDetalhesPedido.Recurso = "/DetalhesPedido/AtualizarDetalhesPedido";

            string AvancarParaResumoPedido = string.Format("AvancarParaResumoPedido('{0}', '{1}', '{2}')", @Html.Raw(Json.Encode(postDetalhesPedido)), @Session["urlBase"], "/ResumoPedido/Index");
        }

        <div>
            @if (ViewBag.MensagemDetalhesPedido != null)
            {
                <br /><p style="color: #bc2026">@ViewBag.MensagemDetalhesPedido</p><br />
            }
        </div>

        <div style="text-align: end">
            <a class="btn btn-detalhes-pedido btn-lg" role="button" onclick="@AvancarParaResumoPedido">avançar</a>
        </div>
    </div>
</div>


