@{
    ViewBag.Title = "recebemos o seu pedido ;)";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 resumo-pedido" style="text-align: center">


                @* exibe os detalhes do pedido *@
                @if (Session["pedidoConcluido"] != null)
                {
                    <h1>obrigado!!! recebemos o seu pedido e iremos cuidar de cada detalhe <p style="font-style: normal; font-weight: bold; color: #bc2026">;)<p></p></h1>
                    <hr />

                    ClassesMarmitex.Pedido pedido = new ClassesMarmitex.Pedido();
                    pedido = (ClassesMarmitex.Pedido)Session["pedidoConcluido"];

                    <h3>Número do pedido = @pedido.Id</h3>

                    @*decimal valorTotalPedido = 0;

                    <h3>pedido</h3>
                    foreach (ClassesMarmitex.ProdutoPedido p in pedido.ListaProdutos)
                    {
                        //se o produto tiver itens adicionais
                        if (p.Produto.DadosAdicionaisProdutos.Sum(adicional => adicional.ItensAdicionais.Sum(item => item.Qtd)) > 0)
                        {
                            <p><strong>@p.Produto.Nome</strong></p>
                            foreach (var adicional in p.Produto.DadosAdicionaisProdutos)
                            {
                                foreach (var item in adicional.ItensAdicionais)
                                {
                                    if (item.Qtd > 0)
                                    {
                                        <small>@item.Nome @item.Qtd</small><br />
                                    }
                                }
                            }
                        }
                        else
                        {
                            //exibe os produtos e a quantidade
                            <p><strong>@p.Quantidade @p.Produto.Nome R$ @p.ValorTotal </strong></p>
                        }

                        { valorTotalPedido += p.ValorTotal; }
                    }

                    <h3>horário de entrega</h3>
                    <p>às @pedido.HorarioEntrega horas</p>

                    <h3>formas de pagamento</h3>
                    foreach (var formaPagamento in pedido.ListaFormaPagamento)
                    {
                        <p>@formaPagamento.Nome</p>
                    }

                    if (!string.IsNullOrEmpty(pedido.Troco))
                    {
                        <p>R$ @pedido.Troco de troco</p>
                    }

                    if (!string.IsNullOrEmpty(pedido.Observacao))
                    {
                        <h3>observações</h3>
                        <p>@pedido.Observacao</p>
                    }

                    <h3>valor total do pedido</h3>
                    <p>R$ @valorTotalPedido</p>*@

                    <br />

                    <p><a href="@Session["urlBase"]/HistoricoPedidos" class="btn btn-amarelo-sem-animacao">ver meus pedidos</a></p>
                }
                else
                {
                    <h1>não conseguimos receber o seu pedido ;(</h1>
                    <hr />
                    <a href="@Session["urlBase"]/ResumoPedido/Index"><p class="vermelho-marmitex">clique aqui para tentar enviar novamente</p></a>
                }

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
