<div class="menu-lateral">
    @if (Session["Carrinho"] != null)
    {
        decimal vlrCarrinho = 0;
        Session["vlrCarrinho"] = 0;
        Session["qtdCarrinho"] = 0;

        <ul class="sidebar-nav carrinho-compras">
            @foreach (ClassesMarmitex.ProdutoPedido p in (List<ClassesMarmitex.ProdutoPedido>)Session["Carrinho"])
            {
                if (p.Produto.DadosAdicionaisProdutos.Count > 1)
                {
                    Session["QtdProdAdicionais"] = p.Produto.DadosAdicionaisProdutos.Count;
                }

                //soma o valor total do carrinho
                vlrCarrinho = Convert.ToDecimal(Session["vlrCarrinho"]);
                vlrCarrinho += p.ValorTotal;
                Session["vlrCarrinho"] = vlrCarrinho;
                Session["qtdCarrinho"] = 1 + Convert.ToInt32(Session["qtdCarrinho"]);

                //exibe os produtos adicionais se houver
                if (p.Produto.DadosAdicionaisProdutos.Count > 0)
                {
                    //exibe o produto e o valor total
                    <li>
                        <div class="produtos-nome" title="@p.Produto.Nome"><b>@p.Quantidade @p.Produto.Nome </b></div><b>R$ @p.Produto.Valor.ToString("F")</b>
                    </li>

                    foreach (var prodAdicional in p.Produto.DadosAdicionaisProdutos)
                    {
                        if (prodAdicional.ItensAdicionais.Where(a => a.Qtd > 0).ToList().Count() > 0)
                        {
                            <small>@prodAdicional.Nome</small>
                        }
                        foreach (var itemAdicional in prodAdicional.ItensAdicionais)
                        {
                            if (itemAdicional.Qtd > 0)
                            {
                                if (itemAdicional.Valor > 0)
                                {
                                    decimal valorTotalAdicional = itemAdicional.Qtd * itemAdicional.Valor;

                                    <li style="margin-top: 0em !important;">
                                        <ul class="sub-sidebar-nav carrinho-compras">
                                            <li style="margin-top: 0em !important;"><div class="" title="@itemAdicional.Nome"><small> @itemAdicional.Qtd @itemAdicional.Nome R$ @valorTotalAdicional.ToString("F")</small></div></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li style="margin-top: 0em !important;">
                                        <ul class="sub-sidebar-nav carrinho-compras">
                                            <li style="margin-top: 0em !important;"><div class="" title="@itemAdicional.Nome"><small> @itemAdicional.Qtd @itemAdicional.Nome</small></div></li>
                                        </ul>
                                    </li>
                                }

                            }
                        }
                    }
                }
                else
                {
                    //exibe o produto, quantidade escolhida e o valor total
                    <li>
                        <div class="produtos-nome" title="@p.Produto.Nome">@p.Quantidade @p.Produto.Nome</div> R$ @p.ValorTotal.ToString("F")
                    </li>
                }
            }
        </ul>

        if (Convert.ToInt32(Session["qtdCarrinho"]) > 0)
        {
            <ul class="sidebar-nav carrinho-compras">
                <li>valor total do pedido R$@Convert.ToDecimal(Session["vlrCarrinho"]).ToString("F")</li>
            </ul>

            <a href="#" class="btn btn-amarelo-sem-animacao btn-carrinho-compras" role="button" onclick="window.location = '@Session["urlBase"]/Carrinho/EditarPedido'"><i class="glyphicon glyphicon-edit"></i> editar</a>
        }

        //exibe o botão fechar pedido apenas se estiver na página home
        if (Session["ExibirBotãoFinalizarPedido"] != null)
        {
            if (Convert.ToBoolean(Session["ExibirBotãoFinalizarPedido"])
                        || Request.Url.AbsolutePath.Contains("AtualizarVisualizacaoViewParcial"))
            {
                if (Convert.ToInt32(Session["qtdCarrinho"]) > 0)
                {
                    <a href="@Session["urlBase"]DetalhesPedido/Index" class="btn btn-vermelho-sem-animacao btn-pedido" role="button"><i class="glyphicon glyphicon-ok"></i> fechar pedido</a>
                }
                else
                {
                    <p>seu carrinho ainda está vazio ;(</p>
                }
            }
        }
    }
    else
    {
        <p>seu carrinho ainda está vazio ;(</p>
    }

</div>