@if (Session["Carrinho"] != null)
{
    decimal vlrTotal = 0;

    foreach (ClassesMarmitex.ProdutoPedido p in (List<ClassesMarmitex.ProdutoPedido>)Session["Carrinho"])
    {

        //objetos utilizados para remover um produto
        ClassesMarmitex.DadosPostAjax postRemoverProd = new ClassesMarmitex.DadosPostAjax();
        postRemoverProd.Recurso = "/Carrinho/RemoverProduto";
        postRemoverProd.ViewParcial = "/Carrinho/AtualizarVisualizacaoViewParcial/_EditarPedido";
        postRemoverProd.DivASerAtualizada = "#visualizacaoEdicaoCarrinho";
        string RemoverProduto = string.Format("Post('{0}', '{1}')", @Html.Raw(Json.Encode(postRemoverProd)), @Html.Raw(Json.Encode(@p)));

        //exibe os produtos e a quantidade
        <div class="col-md-12 form-group">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <input name="produto @p.Produto.Id" type="text" style="display:none" value="@p.Produto.Nome" />
                <label for="@p.Produto.Id">@p.Produto.Nome</label>
            </div>

            @*Não é possível editar a quantidade de produtos que contenham produtos adicionais, somente excluir do carrinho.*@
            @if (p.Produto.DadosAdicionaisProdutos.Sum(adicional => adicional.ItensAdicionais.Sum(item => item.Qtd)) == 0)
            {
                <div class="col-md-6">
                    <div class="col-md-5">
                        <input name="@p.Produto.Id" class="js-produtos-atualizar form-control" type="number" min="1" max="99"
                               value="@p.Quantidade">
                    </div>
                    <div class="col-md-1">
                        <a href="#" style="color: #bc2026;" onclick="@RemoverProduto"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-1">
                        <a href="#" style="color: #bc2026;" onclick="@RemoverProduto"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
            }


        </div>
            <br />
    }
}