@model ClassesMarmitex.UsuarioParceiro

<div class="form-group">
    <p class="vermelho-marmitex">@Html.ValidationMessage("Nome")</p>
    <label for="nome">nome *</label><br />
    @if (Model != null)
    {
        <input type="hidden" name="Id" value="@Model.Id"/>
        <input type="text" class="form-control" required title="O preenchimento do nome é obrigatório" id="nome" name="Nome" value="@Model.Nome" placeholder="digite o seu nome">
    }
    else
    {
        <input type="text" class="form-control" required title="O preenchimento do nome é obrigatório" id="nome" name="Nome" placeholder="digite o seu nome">
    }

</div>

<div class="form-group">
    <label for="apelido">como prefere ser chamado?</label>

    @if (Model != null)
    {
        <input type="text" class="form-control" id="apelido" name="Apelido" value="@Model.Apelido" placeholder="digite como gostaria de ser chamado">
    }
    else
    {
        <input type="text" class="form-control" id="apelido" name="Apelido" placeholder="digite como gostaria de ser chamado">
    }


</div>

<p class="vermelho-marmitex">@Html.ValidationMessage("Email")</p>
<div class="form-group">
    <label for="email">e-mail *</label>

    @if (Model != null)
    {
        <input type="email" class="form-control" required title="o preenchimento do e-mail é obrigatório" id="email" name="Email" value="@Model.Email" placeholder="digite o seu e-mail">
    }
    else
    {
        <input type="email" class="form-control" required title="o preenchimento do e-mail é obrigatório" id="email" name="Email" placeholder="digite o seu e-mail">
    }


</div>

<p class="vermelho-marmitex">@Html.ValidationMessage("NumeroCelular")</p>
<div class="form-group">
    <label for="NumeroCelular">celular *</label>

    @if (Model != null)
    {
        <input type="tel" class="form-control" required id="NumeroCelular" name="NumeroCelular" onkeyup="formataTelefone(this, event);" maxlength="15" value="@Model.NumeroCelular" placeholder="digite o seu número de celular com DDD">
    }
    else
    {
        <input type="tel" class="form-control" required id="NumeroCelular" name="NumeroCelular" onkeyup="formataTelefone(this, event);" maxlength="15" placeholder="digite o seu número de celular com DDD">
    }


</div>

<p class="vermelho-marmitex">@Html.ValidationMessage("DicaDeLocalizacao")</p>
<div class="form-group">
    <label for="DicaDeLocalizacao">dica de localização *</label>

    @if (Model != null)
    {
        <textarea class="form-control" required id="DicaDeLocalizacao" name="DicaDeLocalizacao" placeholder="digite uma dica de localização, por exemplo: 5° andar, mesa 10. Ramal: 555">@Model.DicaDeLocalizacao</textarea>
    }
    else
    {
        <textarea class="form-control" required id="DicaDeLocalizacao" name="DicaDeLocalizacao" placeholder="digite uma dica de localização, por exemplo: 5° andar, mesa 10. Ramal: 555"></textarea>
    }


</div>

<p class="vermelho-marmitex">@Html.ValidationMessage("Senha")</p>
<div class="form-group">
    <label for="pwd">senha *</label>

    @if (Model != null)
    {
        <input type="password" class="form-control" required title="o preenchimento da senha é obrigatório" value="@Model.Senha" id="pwd" name="Senha" placeholder="digite uma senha">
    }
    else
    {
        <input type="password" class="form-control" required title="o preenchimento da senha é obrigatório" id="pwd" name="Senha" placeholder="digite uma senha">
    }

</div>

@if (ViewBag.NaoExibirCodigoEmpresa == null)
{
    <p class="vermelho-marmitex">@Html.ValidationMessage("CodigoParceiro")</p>
    <div class="form-group">
        <label for="codigoParceiro">código de sua empresa *</label>

        @if (Model != null)
        {
            <input type="text" class="form-control" required title="o preenchimento do código da empresa é obrigatório" id="codigoParceiro" name="CodigoParceiro" value="@Model.CodigoParceiro" placeholder="digite o código de sua empresa">
        }
        else
        {
            <input type="text" class="form-control" required title="o preenchimento do código da empresa é obrigatório" id="codigoParceiro" name="CodigoParceiro" placeholder="digite o código de sua empresa">
        }


    </div>
}
else
{
    <input type="hidden" id="codigoParceiro" name="CodigoParceiro" value="@Model.CodigoParceiro">
}

<div class="col-md-12">
    <div class="form-group">
        <label for="ativo">deseja receber as nossas promoções? </label>
        @Html.CheckBox("AceitaReceberCRM", true)
    </div>
</div>

@if (ViewBag.MensagemCadastro != null)
{ <br /><p style="color: #bc2026">@ViewBag.MensagemCadastro</p><br />}

@if (ViewBag.MensagemEditarUsuario != null)
{ <br /><p style="color: #bc2026">@ViewBag.MensagemCadastro</p><br />}

