@if (Session["Produtos"] != null)
{
    foreach (ClassesMarmitex.Produto p in (List<ClassesMarmitex.Produto>)Session["Produtos"])
    {
        //objeto para realizar um post com ajax e atualizar o conteudo de uma determinada div
        ClassesMarmitex.DadosPostAjax postAjax = new ClassesMarmitex.DadosPostAjax();
        postAjax.Recurso = "/Carrinho/AdicionarProduto";
        postAjax.ViewParcial = "/Carrinho/AtualizarVisualizacaoViewParcial/_CarrinhoCompra";
        postAjax.DivASerAtualizada = "#visualizacaoCarrinho";

        //monta a ação de post para atualizar a visualização do carrinho
        string AdicionarCarrinho = string.Format("Post('{0}', '{1}')",
            @Html.Raw(Json.Encode(postAjax)), @Html.Raw(Json.Encode(@p)));

        //variáveis para o post de adição de produto que contém produtos adicionais
        string produtoJson = string.Format("'{0}'", @Html.Raw(Json.Encode(@p)));

        //variável para guardar o id do primeiro item adicional
        int idPrimeiroAdicional = 0;

        //visão do produto
        <div class="idCardapio @p.IdMenuCardapio menuCardapio col-md-4">
            <div class="thumbnail">
                <img src="~/Images/@Session["dominioLoja"]/Produtos/@p.Imagem" alt="imagem do produto" class="img-responsive img-rounded img-produtos">
                <div class="caption">
                    <h3 class="nome-produto-pesquisa produtos-nome" title="@p.Nome">@p.Nome</h3>
                    <p class="produto-descricao" title="@p.Descricao">
                        @p.Descricao
                    </p>
                    <p> R$ @p.Valor.ToString("F")</p>

                    <!-- se o produto tiver itens adicionais, ao clicar em adicionar o modal de itens adicionais é aberto -->
                    @if (p.DadosAdicionaisProdutos.Count > 0)
                    {
                        //verifica se o produto está a venda no dia de hoje. se não estiver, parte para o próximo produto
                        int numDiaAtual = DateTime.Now.DayOfWeek.GetHashCode();

                        if (p.ProdutoDiasVenda.FindAll(x => x == numDiaAtual).Count == 0)
                        {
                            <a href="#" class="btn btn-amarelo-sem-animacao" role="button" onclick="avisoVendaNaoDisponivel()"><i class="glyphicon glyphicon-plus"></i> adicionar ao carrinho</a>
                        }
                        else
                        {
                            <!-- ao clicar em adicionar produto, o primeiro modal com os itens adicionais é aberto -->
                            <a href="#" data-toggle="modal" data-target="#modalProduto_@p.Id" class="btn btn-amarelo-sem-animacao" role="button"><i class="glyphicon glyphicon-plus"></i> adicionar ao carrinho</a>
                        }

                    }

                    <!-- se o produto não tiver itens adicionais, ao clicar em adicionar o produto já é adicionado -->
                    @if (p.DadosAdicionaisProdutos.Count == 0)
                    {
                        //verifica se o produto está a venda no dia de hoje. se não estiver, parte para o próximo produto
                        int numDiaAtual = DateTime.Now.DayOfWeek.GetHashCode();

                        if (p.ProdutoDiasVenda.FindAll(x => x == numDiaAtual).Count == 0)
                        {
                            <a href="#" class="btn btn-amarelo-sem-animacao" role="button" onclick="avisoVendaNaoDisponivel()"><i class="glyphicon glyphicon-plus"></i> adicionar ao carrinho</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-amarelo-sem-animacao" role="button" onclick="@AdicionarCarrinho"><i class="glyphicon glyphicon-plus"></i> adicionar ao carrinho</a>
                        }

                    }


                </div>
            </div>
        </div>

        //variável para controlar a navegação dentro do modal
        int numeroOpcao = 1;
        string styleNone = "";
        string primeiraDivModal = "";

        //modal
        //dados adicionais do produto em questão, por exemplo: ingredientes, tipo de massa e etc
        <div class="modal fade" id="modalProduto_@p.Id" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    @*para cada adicional do produto, uma div é criada*@
                    @foreach (var adicional in p.DadosAdicionaisProdutos)
                    {
                        //se for a primeira div, receberá a classe "escondeDiv"
                        if (numeroOpcao == 1)
                        {
                            styleNone = "";
                            primeiraDivModal = "'divModal_" + p.Id + (numeroOpcao) + "'";
                        }
                        else
                        {
                            styleNone = "escondeDiv";
                        }

                        if (adicional.OrdemExibicao == 1)
                        {
                            idPrimeiroAdicional = adicional.Id;
                        }


                        //monta o nome da div anterior
                        string divAnteriorModal = "'divModal_" + p.Id + (numeroOpcao - 1) + "'";

                        //monta o nome da próxima div
                        string proximaDivModal = "'divModal_" + p.Id + (numeroOpcao + 1) + "'";

                        //monta o nome da div atual para ser usada no modal
                        string divAtualModal = "'divModal_" + p.Id + numeroOpcao + "'";

                        //monta o nome da div atual para ser usada como classe de identificação
                        string classeProdAdicionalAtual = "item-adicional-" + p.Id + numeroOpcao;

                        //variável para armazenar o nome da classe de identificação
                        string nomeClasseProdAdicionalAtual = "'item-adicional-" + p.Id + numeroOpcao + "'";

                        string nomeDivMensagem = "'mensagemAviso_" + p.Id + numeroOpcao + "'";

                        <div id="divModal_@p.Id@numeroOpcao" class="divModal_@p.Id @styleNone">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">@adicional.Nome</h3>
                                <p>escolha entre @adicional.QtdMin e @adicional.QtdMax @adicional.Nome</p>
                            </div>

                            <div class="modal-body">
                                <!-- itens do adicional do produto. por exemplo, dentro do adicional
                                ingredientes temos os itens: cenoura, bacon, brócolis e etc...-->
                                @foreach (var itemAdicional in adicional.ItensAdicionais)
                                {

                                    <div class="form-horizontal">
                                        <div class="form-group @classeProdAdicionalAtual">
                                            <input type="hidden" class="idAdicional" value="@itemAdicional.Id" />
                                            <div class="col-sm-7">
                                                <label class="nomeAdicional control-label" style="text-align: left !important" for="@itemAdicional.Id">@itemAdicional.Nome</label>
                                                
                                                @if (!string.IsNullOrEmpty(itemAdicional.Descricao))
                                                {
                                                    <small class="nomeAdicional">@itemAdicional.Descricao</small>
                                                }
                                                
                                            </div>
                                            <div class="col-sm-4">
                                                @*<input type="number" min="@adicional.QtdMin" max="@adicional.QtdMax" value="0" class="form-control qtdAdicional text-center" />*@
                                                <select class="form-control qtdAdicional text-center">
                                                    @for (int i = 0; i <= adicional.QtdMax; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="control-label col-sm-11">
                                                @if (itemAdicional.Valor > 0)
                                                {
                                                    <p>valor R$ @itemAdicional.Valor</p>
                                                }
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>

                                }

                                <p id="mensagemAviso_@p.Id@numeroOpcao" class="vermelho-marmitex"></p>
                            </div>

                            <div class="modal-footer">
                                @if (numeroOpcao > 1)
                                {
                                    <button type="button" class="btn btn-default" onclick="DivAnteriorModal('divModal_@p.Id', @divAnteriorModal, @nomeDivMensagem)">anterior</button>
                                }
                                @if (p.DadosAdicionaisProdutos.Count == numeroOpcao)
                                {
                                    <!-- se existir um único produto adicional para o produto, ele é marcado como primeiro e último -->
                                    if (p.DadosAdicionaisProdutos.Count == 1)
                                    {
                                        <button type="button" class="btn btn-default" onclick="NavegarModal(@primeiraDivModal, @proximaDivModal, @nomeClasseProdAdicionalAtual, @nomeDivMensagem, @adicional.Id, @p.Id, 1, 1, @adicional.QtdMax, @adicional.QtdMin, @produtoJson)">adicionar e concluir</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default" onclick="NavegarModal(@primeiraDivModal, @proximaDivModal, @nomeClasseProdAdicionalAtual, @nomeDivMensagem, @adicional.Id, @p.Id, 0, 1, @adicional.QtdMax, @adicional.QtdMin, @produtoJson)">adicionar e concluir</button>
                                    }
                                }
                                @if (p.DadosAdicionaisProdutos.Count > numeroOpcao)
                                {
                                    if (numeroOpcao == 1)
                                    {
                                        <button type="button" class="btn btn-default" onclick="NavegarModal(@primeiraDivModal, @proximaDivModal, @nomeClasseProdAdicionalAtual, @nomeDivMensagem, @adicional.Id, @p.Id, 1, 0, @adicional.QtdMax, @adicional.QtdMin, @produtoJson)">próximo</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default" onclick="NavegarModal(@primeiraDivModal, @proximaDivModal, @nomeClasseProdAdicionalAtual, @nomeDivMensagem, @adicional.Id, @p.Id, 0, 0, @adicional.QtdMax, @adicional.QtdMin, @produtoJson)">próximo</button>
                                    }

                                }

                            </div>
                        </div>

                        numeroOpcao++;
                    }
                </div>
            </div>
        </div>


    }
}